<h1>About Us</h1>
<p>
the ruby ob rails tutorial ia a project to make a book and screencasts to teach web development with <a href=http://rubyonrails.org/">ruby on rails</a>. this the real application for the tutorial.
</p>

