<h1>Help</h1>
<p>Get help on the ruby on rails tutorial at the 
<a href="http://railstutorial.org/help">rails tutorial help</a>
to get the help on this real app, see the
<a href="http://railstutorial.org/book">rails tutorial book</a>
</p>
