<div class="center hero-unit">
<h1>Welcome to my Real App1</h1>
<p>This is the home page for the real application
<a href="http://railstutorial.org/">ruby on rails tutoial</a>
real application.</p>

<%= link_to "Sign up now!", 'signup_path', class: "btn btn-large btn-primary" %>
</div>
<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
